<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>文章详情 - 树说</title>
	<link rel="stylesheet" href="/stylesheets/reset.css">
	<link rel="stylesheet" href="/stylesheets/article.css">
</head>
<body>
	<%include header.ejs%>
	<div class="container-one article">
		<h1>我为什么钦佩那些不捡便宜的人</h1>
		<div class="author clearfix">
			<a href="#"><img src="images/avatar.jpg" alt="" class="img-small"></a>
			<p class="name">SunDreamer</p>
			<p class="info">2017.05.05 16:41 字数 5170 阅读 1082评论 3喜欢 17</p>
		</div>
		<div class="content">
			<p>历史就像一个周而复始的大转盘，每隔一段时间就会重复当初的盘面，而“淘金热”就是转盘上一个重要的刻度。</p>
			<p>似乎每隔一段时间，我们身边就会出现一股“淘金热”。在我的成长记忆里，看到过：90年代末的直销淘金，2000年后的矿产淘金，2005年后的地产淘金，2010年后的创业淘金……最近似乎又看到了一个新“风口”：<b>知识付费淘金</b></p>
			<p>这些事情之所以为成为“淘金热”，是因为它们有一个共同特征：蜂拥而入。</p>
			<p>历史就像一个周而复始的大转盘，每隔一段时间就会重复当初的盘面，而“淘金热”就是转盘上一个重要的刻度。</p>
			<p>似乎每隔一段时间，我们身边就会出现一股“淘金热”。在我的成长记忆里，看到过：90年代末的直销淘金，2000年后的矿产淘金，2005年后的地产淘金，2010年后的创业淘金……最近似乎又看到了一个新“风口”：<b>知识付费淘金</b></p>
			<p>这些事情之所以为成为“淘金热”，是因为它们有一个共同特征：蜂拥而入。</p>
			<p>历史就像一个周而复始的大转盘，每隔一段时间就会重复当初的盘面，而“淘金热”就是转盘上一个重要的刻度。</p>
			<p>似乎每隔一段时间，我们身边就会出现一股“淘金热”。在我的成长记忆里，看到过：90年代末的直销淘金，2000年后的矿产淘金，2005年后的地产淘金，2010年后的创业淘金……最近似乎又看到了一个新“风口”：<b>知识付费淘金</b></p>
			<p>这些事情之所以为成为“淘金热”，是因为它们有一个共同特征：蜂拥而入。</p>
		</div>
		<div class="show">
			<div class="author clearfix">
				<a href="#"><img src="images/avatar.jpg" alt="" class="img-small"></a>
				<a href="#" class="btn btn-success fr">关注</a>
				<p class="name">SunDreamer</p>
				<p class="info">写了 40928 字，被 1298 人关注，获得了 448 个喜欢</p>
			</div>
			<div class="sign">罗辑思维得到《成甲说书》作者，《好好学习：个人知识管理精进指南》作者</div>
		</div>
		<div class="like"> <a href="#" class="like-btn">喜欢 | 20</a></div>
		<div class="edit-comment">
			<img src="images/avatar.jpg" alt="">
			<textarea name="comment" id="comment" cols="30" rows="3" placeholder="写下你的评论..."></textarea>
			<div class="submit">
				<i>表情</i>
				<a href="javascript:;" class="btn btn-success fr">发送</a>
				<a href="javascript:;" class="fr">取消</a>
			</div>
		</div>
		<div class="comment-list">
			<div class="bar">
				<h3>3条评论</h3>
			</div>
			<ul>
				<li>
					<div class="user">
						<a href="#"><img src="images/avatar.jpg" alt=""></a>
						<p>字母D的小宇宙</p>
						<p class="time">2楼 · 2017.05.05 17:08</p>
					</div>
					<div class="comm">大多人耐不住现在的不好</div>
					<div class="reply">
						<i>赞</i>
						<i>回复</i>
					</div>
				</li>
				<li>
					<div class="user">
						<a href="#"><img src="images/avatar.jpg" alt=""></a>
						<p>字母D的小宇宙</p>
						<p class="time">2楼 · 2017.05.05 17:08</p>
					</div>
					<div class="comm">大多人耐不住现在的不好</div>
					<div class="reply">
						<i>赞</i>
						<i>回复</i>
					</div>
				</li>
				<li>
					<div class="user">
						<a href="#"><img src="images/avatar.jpg" alt=""></a>
						<p>字母D的小宇宙</p>
						<p class="time">2楼 · 2017.05.05 17:08</p>
					</div>
					<div class="comm">大多人耐不住现在的不好</div>
					<div class="reply">
						<i>赞</i>
						<i>回复</i>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<div class="container-full footer">
		<p>TreeSay © 2017 Powered by github.com/Sundreamer</p>
	</div>
</body>
</html>