<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>文章详情 - 树说</title>
	<link rel="stylesheet" href="/stylesheets/reset.css">
	<link rel="stylesheet" href="/stylesheets/article.css">
</head>
<body>
	<%include header.ejs%>
	<div class="container-one article">
		<h1>文章标题</h1>
		<div class="author clearfix">
			<a href="#" class="avatar"><img src="/images/avatar.jpg" alt="" class="img-small"></a>
			<p class="name">作者名</p>
			<p class="info text-info">文章信息</p>
		</div>
		<div class="content">
			<p>文章内容</p>
		</div>
		<div class="show">
			<div class="author clearfix">
				<a href="#" class="avatar"><img src="/images/avatar.jpg" alt="" class="img-small"></a>
				<a href="#" class="btn btn-success fr">关注</a>
				<p class="name">作者昵称</p>
				<p class="info user-info">写了 40928 字，被 1298 人关注，获得了 448 个喜欢</p>
			</div>
			<div class="sign">作者个性签名</div>
		</div>
		<div class="like"><a href="javascript:;" class="like-btn" data-flag="false">点赞 | 0</a></div>
		<div class="edit-comment">
			<img src="/images/avatar.jpg" alt="">
            <% if(isLogin) { %>
			    <textarea name="comment" id="comment" cols="30" rows="3" placeholder="写下你的评论..."></textarea>
            <% } else { %>
                <div class="shade">请登录后再评论</div>
            <% } %>
			<div class="submit">
				<a href="javascript:;" class="btn btn-success fr">发送</a>
				<a href="javascript:;" class="fr">取消</a>
			</div>
		</div>
		<div class="comment-list">
			<div class="bar"><h3>0条评论</h3></div>
			<ul></ul>
		</div>
	</div>
	<div class="container-full footer">
		<p>TreeSay © 2017 Powered by github.com/Sundreamer</p>
	</div>
    <div class="msg-tip">提示</div>
    <script type="text/x-template" id="comm-item">
        <li>
            <div class="user">
                <a href="/users/{# user_id #}"><img src="{# avatar #}" alt=""></a>
                <p>{# nickname #}</p>
                <p class="time">{# time #}</p>
            </div>
            <div class="comm">{# content #}</div>
            <div class="reply">
                <i>赞</i>
                <i data-id={# id #}>回复</i>
            </div>
        </li>
    </script>
    <script src="/javascripts/jquery-1.10.2.min.js"></script>
    <script src="/javascripts/common.js"></script>
    <script src="/javascripts/template.js"></script>
    <script>
        $(function() {
            var articleID = location.href.slice(location.href.lastIndexOf('/') + 1);

            // 获取数据渲染页面
            $.get('/api/artpage/' + articleID, function(data) {
                var user = data.result.user,
                    article = data.result.article,
                    comment = data.result.comment;
                
                // 作者信息
                $('.avatar').attr('href', '/users/' + user.id);
                $('.name').text(user.nickname);
                $('.show .sign').text(user.signature);

                // 文章信息
                document.title = article.title + ' - 树说';
                $('.article > h1').text(article.title);
                $('.text-info').text(common.formatTime(article.time) + ' 评论 ' + article.comments + ' 点赞 ' + article.count);
                $('.article > .content').html(article.content);
                $('.comment-list .bar h3').text(article.comments + '条评论');
                $('.like-btn').text('点赞 | ' + article.count);

                // 评论列表
                var tpl = Template.delSpace($('#comm-item').text()),
                    commList = '';
                for (var i = comment.length - 1; i >= 0; i--) {
                    comment[i].time = common.formatTime(comment[i].time);
                    commList += Template.formatString(tpl, comment[i]);
                }
                $('.comment-list ul').append(commList);
            });

            // 评论发送按钮的显示隐藏
            $('#comment').on('focus', function(e) {
                $('.submit').show();
            });
            $('.submit a:last').click(function(e) {
                $('.submit').hide();
            });

            // 添加评论 - 添加成功后实时刷新评论列表
            function addcomment(comm) {
                $.post('/api/addcomment', comm, function(data) {
                    var user = {
                        user_id: data.result.id,
                        avatar: data.result.avatar,
                        nickname: data.result.nickname,
                        time: new Date().toLocaleString(),
                        content: comm.content,
                    };
                    // 更新评论列表 - 插入到最前面
                    var tpl = Template.delSpace($('#comm-item').text());
                    $('.comment-list ul').prepend(Template.formatString(tpl, user));

                    // 更新评论数量
                    var count = common.getNum($('.comment-list .bar h3').text()) + 1 + '条评论';
                    $('.comment-list .bar h3').text(count);

                    // 清空评论输入框
                    $('#comment').val('');
                });
            };

            // 点击发送按钮，对评论进行验证和防 XSS 攻击处理
            $('.submit a:first').click(function(e) {
                var con = $('#comment').val();
                if (con === '') {
                    common.showTip('评论不能为空');
                    return;
                }
                var comm = {
                    articleID: articleID,
                    content: con.replace(/<\/?\w+>/g, '').replace(/<[^img].+?>/g, ''),
                };
                addcomment(comm);
            });

            // 文章点赞
            $('.like-btn').click(function(e) {
                if (!$(this).data('flag')) {
                    $.get('/api/uparticlecount/' + articleID);
                    $(this).data('flag', 'true');

                    // 更新点赞数量
                    var count = common.getNum($(this).text()) + 1;
                    $(this).addClass('liked-btn').text('点赞 | ' + count);
                }
            });
        });
    </script>
</body>
</html>