<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title><%= title %></title>
	<link rel="stylesheet" href="/stylesheets/reset.css">
	<link rel="stylesheet" href="/stylesheets/index.css">
</head>
<body>
	<%include header.ejs%>
	<div class="container-full">
		<div class="bg-full">
            <a href="/article/5">
                <h2>转角遇到爱</h2>
                <p>企业文化墙设计</p>
                <p>小肥羊</p>
            </a>
        </div>
	</div>
	<div class="container-full">
		<ul class="row list"></ul>
		<div class="more"><a href="javascript:;" class="btn">更多文章</a></div>
	</div>
	<div class="container-full footer">
		<p>TreeSay © 2017 Powered by github.com/Sundreamer</p>
	</div>
    <script type="text/x-template" id="article-item">
        <li class="col-1">
            <div class="item">
                <div class="pic">
                    <a href="/article/{# id #}"><img src="{# cover #}" alt=""></a>
                </div>
                <div class="content">
                    <h3>{# title #}</h3>
                    <p>{# abstract #}</p>
                </div>
                <div class="time clearfix">
                    <div class="fl"><i>{# time #}</i></div>
                    <div class="fr">
                        <i>点赞 {# count #}</i>
                        <i>评论 {# comments #}</i>
                    </div>
                </div>
            </div>
        </li>
    </script>
    <script src="/javascripts/jquery-1.10.2.min.js"></script>
    <script src="/javascripts/common.js"></script>
    <script src="/javascripts/template.js"></script>
    <script>
        (function() {
            $.get('/api/getindexart/0', function(data) {
                var result = '',
                    tplStr = Template.delSpace($('#article-item').text()),
                    data = data.result;
                    
                for (var i = 0, len = data.length; i < len; i++) {
                    data[i].time = data[i].time.slice(0,10);
                    data[i].cover = data[i].cover || '/images/article.jpg';
                    result += Template.formatString(tplStr, data[i]);
                }
                $('.list').append(result);
            });
        })();
    </script>
</body>
</html>