<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/index.js"></script>
  </head>
  <body>
    <div class="wrap">
        <% if (isLogin) { %>
            <div class="user">
                <div class="fl">
                    <div class="avatar"><img src="/image/avatar.jpg" alt=""></div>
                    <p><%= nickname%></p>
                </div>
                <ul class="fr">
                   <li>访问：1234次</li>
                   <li>等级：12级</li> 
                   <li>文章：134篇</li> 
                   <li>评论：1314条</li>
                </ul>  
            </div>
        <% } else { %>
            <div class="user">
                <ul class="tab">
                    <li class="active">注册</li>
                    <li>登录</li>
                </ul>
                <div class="regbox active">
                    <input type="text" name="user" placeholder="常用邮箱">
                    <input type="password" name="pwd" placeholder="密码">
                    <button type="button" id="reg">注册</button>
                </div>
                <div class="loginbox">
                    <input type="text" name="user" placeholder="常用邮箱">
                    <input type="password" name="pwd" placeholder="密码">
                    <button type="button" id="login">登录</button>
                </div>
            </div>
        <% } %>
    </div>
  </body>
</html>
