<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>用户主页 - 树说</title>
	<link rel="stylesheet" href="/stylesheets/reset.css">
	<link rel="stylesheet" href="/stylesheets/user.css">
</head>
<body>
	<%include header.ejs %>
	<div class="container-one">
		<div class="user-box">
			<div class="main">
				<div class="avatar"><img src="images/avatar.jpg" alt="头像" class="img-border"></div>
				<h3 class="name">Color</h3>
			</div>
			<div class="info">
				<p>文艺是什么</p>
				<div class="setting">
					<a href="#">编辑个人资料</a>
					<a href="#">查看消息</a>
					<a href="#">文章管理</a>
					<a href="#">写文章</a>
				</div>
			</div>
		</div>
		<ul class="article-list">
			<li>
				<a href="#" class="title text-light">LOFTER，从简约中领悟品质的真谛</a>
				<div class="content">
					<p>有没有那么一件单品、一张照片、一副美景或一杯暖饮，让你流连忘返、回味无穷？LOFTER的视觉设计，希望悄悄的留住你的视线，带给你唯一却熟悉的感觉…</p>
					<p>有这么一些人，喜欢拍点什么，写日志总是想不到标题，拍了一堆相片，不知如何组成一个文章，不知如何或者不想加上一些修饰就发布上来……</p>
					<p>他们生活随&nbsp;意，常常需要在工作台上贴上一些黄色的小纸条来提醒自己杂乱的工作，这时，真的需要一个LOFTER，也来参与一下热闹的互联网，微博你玩不起来，博客想&nbsp;不到主题，不知道如何发布组图也不想发布，你也不知道如何组织文字和整理思路，但是你有一堆的好作品或者一堆好相片，也想在大伙里路过一下，让大伙转过头&nbsp;...</p>
				</div>
				<div class="time">
					<i>2017-05-04</i>
					<i>评论 12</i>
					<i>点赞 11</i>
				</div>
			</li>
			<li>
				<a href="#" class="title">LOFTER，从简约中领悟品质的真谛</a>
				<div class="content">
					<p>有没有那么一件单品、一张照片、一副美景或一杯暖饮，让你流连忘返、回味无穷？LOFTER的视觉设计，希望悄悄的留住你的视线，带给你唯一却熟悉的感觉…</p>
					<p>有这么一些人，喜欢拍点什么，写日志总是想不到标题，拍了一堆相片，不知如何组成一个文章，不知如何或者不想加上一些修饰就发布上来……</p>
					<p>他们生活随&nbsp;意，常常需要在工作台上贴上一些黄色的小纸条来提醒自己杂乱的工作，这时，真的需要一个LOFTER，也来参与一下热闹的互联网，微博你玩不起来，博客想&nbsp;不到主题，不知道如何发布组图也不想发布，你也不知道如何组织文字和整理思路，但是你有一堆的好作品或者一堆好相片，也想在大伙里路过一下，让大伙转过头&nbsp;...</p>
				</div>
				<div class="time">
					<i>2017-05-04</i>
					<i>评论 12</i>
					<i>点赞 11</i>
				</div>
			</li>
			<li>
				<div class="cover"><a href="#"><img src="images/article.jpg" alt="" class="img-border"></a></div>
				<div class="content">
					<p>有没有那么一件单品、一张照片、一副美景或一杯暖饮，让你流连忘返、回味无穷？</p>
				</div>
				<div class="time">
					<i>2017-05-04</i>
					<i>评论 12</i>
					<i>点赞 11</i>
				</div>
			</li>
		</ul>
	</div>
	<div class="container-full footer">
		<p>TreeSay © 2017 Powered by github.com/Sundreamer</p>
	</div>
</body>
</html>