<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>用户主页 - 树说</title>
	<link rel="stylesheet" href="/stylesheets/reset.css">
	<link rel="stylesheet" href="/stylesheets/user.css">
</head>
<body>
	<%include header.ejs %>
	<div class="container-one">
		<div class="user-box">
			<div class="main">
				<img src="<%= avatar%>" alt="头像" class="avatar">
				<h3 class="name">用户昵称</h3>
                <p>文艺是什么</p>
			</div>
            <div class="setting">
                <% if (isSelf) { %>
                    <a href="/users/setting">编辑个人资料</a>
                    <a href="#">查看消息</a>
                    <a href="#">喜欢的文章</a>
                <% } else { %>
                    <a href="#">关注</a>
                    <a href="#">私信</a>
                <% } %>
			</div>
		</div>
		<ul class="article-list"></ul>
	</div>
	<div class="container-full footer">
		<p>TreeSay © 2017 Powered by github.com/Sundreamer</p>
	</div>
    <script type="text/x-template" id="text-item">
        <li>
            <div class="info">
                <a href="/article/{# id #}" class="title">{# title #}</a>
                <div class="abstract">{# abstract #}</div>
                <div class="time">
                    <i>{# time #}</i>
                    <i>评论 {# comments #}</i>
                    <i>点赞 {# count #}</i>
                </div>
            </div>
        </li>
    </script>
    <script type="text/x-template" id="img-item">
        <li style="padding-right: 220px;">
            <div class="cover fr">
                <a href="/article/{# id #}"><img src="{# cover #}" alt=""></a>
            </div>
            <div class="info">
                <a href="/article/{# id #}" class="title">{# title #}</a>
                <div class="abstract">{# abstract #}</div>
                <div class="time">
                    <i>{# time #}</i>
                    <i>评论 {# comments #}</i>
                    <i>点赞 {# count #}</i>
                </div>
            </div>
        </li>
    </script>
    <script src="/javascripts/jquery-1.10.2.min.js"></script>
    <script src="/javascripts/template.js"></script>
    <script>
        $(function() {
            var url = '/api/userpage' + location.href.slice(location.href.lastIndexOf('/'));

            $.get(url, function(data) {
                var result = '',
                    user = data.result.user,
                    article = data.result.article,
                    txtTpl = Template.delSpace($('#text-item').text()),
                    imgTpl = Template.delSpace($('#img-item').text());
                
                $('.main .name').text(user.nickname);
                $('.info > p').text(user.signature);

                for (var i = 0, len = article.length; i < len; i++) {
                    article[i].time = article[i].time.slice(0, 10);
                    article[i].abstract = article[i].abstract;
                    result += Template.formatString(article[i].cover ? imgTpl : txtTpl, article[i]);
                }
                $('.article-list').append(result);
            });
        });
    </script>
</body>
</html>