<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>用户主页 - 树说</title>
	<link rel="stylesheet" href="/stylesheets/reset.css">
	<link rel="stylesheet" href="/stylesheets/user.css">
</head>
<body>
	<%include header.ejs %>
	<div class="container-one">
		<div class="user-box">
			<div class="main">
				<div class="avatar"><img src="<%= avatar%>" alt="头像" class="img-border"></div>
				<h3 class="name">用户昵称</h3>
			</div>
			<div class="info">
				<p>文艺是什么</p>
				<div class="setting">
                    <% if (isSelf) { %>
                        <a href="/users/setting">编辑个人资料</a>
                        <a href="#">查看消息</a>
                        <a href="#">文章管理</a>
                    <% } else { %>
					    <a href="#">关注</a>
                        <a href="#">私信</a>
                    <% } %>
				</div>
			</div>
		</div>
		<ul class="article-list"></ul>
	</div>
	<div class="container-full footer">
		<p>TreeSay © 2017 Powered by github.com/Sundreamer</p>
	</div>
    <script type="x-template" id="text-item">
        <li>
            <a href="/article/{# id #}" class="title text-light">{# title #}</a>
            <div class="content">{# abstract #}</div>
            <div class="time">
                <i>{# time #}</i>
                <i>评论 {# comments #}</i>
                <i>点赞 {# count #}</i>
            </div>
        </li>
    </script>
    <script type="x-template" id="img-item">
        <li>
            <div class="cover">
                <a href="/article/{# id #}"><img src="{# cover #}" alt="" class="img-border"></a>
            </div>
            <div class="content">{# abstract #}</div>
            <div class="time">
                <i>{# time #}</i>
                <i>评论 {# comments #}</i>
                <i>点赞 {# count #}</i>
            </div>
        </li>
    </script>
    <script src="/javascripts/jquery-1.10.2.min.js"></script>
    <script src="/javascripts/template.js"></script>
    <script>
        $(function() {
            var url = '/api/userpage' + location.href.slice(location.href.lastIndexOf('/'));

            // 对摘要进行处理 - 用 p 标签包裹起来
            function formatAbs(str) {
                var result = '<p>';
                result += str.replace(/\s+?/g, '</p><p>');
                return result + '</p>';
            }

            $.get(url, function(data) {
                var result = '',
                    user = data.result.user,
                    article = data.result.article,
                    txtTpl = Template.delSpace($('#text-item').text()),
                    imgTpl = Template.delSpace($('#img-item').text());
                
                $('.main .name').text(user.nickname);
                $('.info > p').text(user.signature);

                for (var i = 0, len = article.length; i < len; i++) {
                    article[i].time = article[i].time.slice(0, 10);
                    article[i].abstract = formatAbs(article[i].abstract);
                    result += Template.formatString(article[i].cover ? imgTpl : txtTpl, article[i]);
                }
                $('.article-list').append(result);
            });
        });
    </script>
</body>
</html>