<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>用户主页 - 树说</title>
	<link rel="stylesheet" href="/stylesheets/reset.css">
	<link rel="stylesheet" href="/stylesheets/user.css">
</head>
<body>
	<%include header.ejs %>
	<div class="container-one">
		<div class="user-box">
			<div class="main">
				<img src="<%= avatar%>" alt="头像" class="avatar">
				<h3 class="name ">用户昵称</h3>
                <p>文艺是什么</p>
                <div class="setting">
                    <% if (isSelf) { %>
                        <a href="/users/setting">设置</a>
                        <a href="#">消息</a>
                    <% } else { %>
                        <a href="#">关注</a>
                        <a href="#">私信</a>
                    <% } %>
                </div>
			</div>
            <ul class="menu clearfix">
                <li class="active"><a href="javascript:;">我的文章</a></li>
                <li><a href="javascript:;">喜欢的文章</a></li>
            </ul>
		</div>
		<ul class="article-list my-art"></ul>
        <ul class="article-list like-art"></ul>
	</div>
	<div class="container-full footer">
		<p>TreeSay © 2017 Powered by github.com/Sundreamer</p>
	</div>
    <script type="text/x-template" id="text-item">
        <li>
            <div class="info">
                <a href="/article/{# id #}" class="title">{# title #}</a>
                <div class="abstract">{# abstract #}</div>
                <div class="time">
                    <i>{# time #}</i>
                    <i>评论 {# comments #}</i>
                    <i>喜欢 {# count #}</i>
                </div>
            </div>
        </li>
    </script>
    <script type="text/x-template" id="img-item">
        <li style="padding-right: 220px;">
            <div class="cover fr">
                <a href="/article/{# id #}"><img src="{# cover #}" alt=""></a>
            </div>
            <div class="info">
                <a href="/article/{# id #}" class="title">{# title #}</a>
                <div class="abstract">{# abstract #}</div>
                <div class="time">
                    <i>{# time #}</i>
                    <i>评论 {# comments #}</i>
                    <i>喜欢 {# count #}</i>
                </div>
            </div>
        </li>
    </script>
    <script src="/javascripts/jquery-1.10.2.min.js"></script>
    <script src="/javascripts/template.js"></script>
    <script>
        $(function() {
            var userID = location.href.slice(location.href.lastIndexOf('/'));

            // 获取我的文章数据
            $.get('/api/userpage' + userID, function(data) {
                var result = '',
                    user = data.result.user,
                    article = data.result.article;
                
                $('.main .name').text(user.nickname);
                $('.info > p').text(user.signature);

                ArticleList(article, $('.my-art'));
            });

            // 渲染文章列表
            function ArticleList(data, ele) {
                var result = '',
                    txtTpl = Template.delSpace($('#text-item').text()),
                    imgTpl = Template.delSpace($('#img-item').text());

                for (var i = 0, len = data.length; i < len; i++) {
                    data[i].time = data[i].time.slice(0, 10);
                    data[i].abstract = data[i].abstract;
                    result += Template.formatString(data[i].cover ? imgTpl : txtTpl, data[i]);
                }
                ele.append(result);
            }

            // 获取喜欢的文章数据，只获取一次
            function getLikeArt() {
                if ($('.like-art li').length == 0) {
                    $.get('/api/getlikebyid', function(data) {
                        data.result.forEach(function(val, index) {
                            val.id = val['article_id'];
                        });
                        ArticleList(data.result, $('.like-art'));
                    });
                }
            }

            $('.menu a').click(function(e) {
                var target = $(e.target);
                $('.article-list').fadeToggle();
                $('.menu li').toggleClass('active');
                target.text() === '喜欢的文章' ? getLikeArt() : '';
            });
        });
    </script>
</body>
</html>