/* 单独重置样式 */
body {
    margin: 0;
    padding-top: 70px; 
}
li { margin: 10px 0; }
i { font-style: normal; }

.header li { margin: 0; }

/* 文章 */
.article {
	margin: 20px auto;
}
.article h1 {
	margin: 20px 0;
	font-size: 32px;
	font-weight: bold;
	line-height: 50px;
	color: #333;
}

/* 文章信息 */
.article .author {
	margin: 20px 0;
	font-size: 14px;
}
.img-small {
	float: left;
	width: 50px;
	border-radius: 100%;
	margin-right: 10px;
}
.article .author p {
    margin: 0;
    line-height: 25px; 
}
.article .author .name:before {
	content: '作者';
	display: inline-block;
	margin: 0 5px;
	font-size: 12px;
	padding: 2px;
	line-height: 1em;
	color: #EA6F5A;
	border: 1px solid #EA6F5A;
	border-radius: 2px;
}
.article .author .info {
	font-size: 12px;
	color: #969696;
}

/* 文章内容 */
.content p { line-height: 1.5em; }

/* 文章尾部作者资料卡 */
.show {
	margin: 30px 0;
	padding: 15px;
	border: 1px solid #E1E1E1;
	border-radius: 5px;
	background: #F8F8F8;
}
.show .sign {
	padding-top: 10px;
	font-size: 12px;
	color: #969696;
	border-top: 1px solid #e1e1e1;
}

/* 喜欢 */
.like {
	margin: 20px 0;
	padding-top: 20px;
	text-align: left;
	border-top: 1px solid #e1e1e1;
}
.like-btn {
	display: inline-block;
	line-height: 40px;
	padding: 0 30px;
	color: #EA6F5A;
	font-size: 16px;
	border: 1px solid #EA6F5A;
	border-radius: 40px;
}
.liked-btn {
    color: #fff;
    background: #EA6F5A
}

/* 评论框 */
.edit-comment {
	position: relative;
	margin: 50px 0 30px;
	padding-left: 50px;
}
.edit-comment img {
	position: absolute;
	left: 0;
	width: 40px;
	border-radius: 40px;
}
.edit-comment textarea, .edit-comment .shade{
	width: 100%;
	padding: 10px;
	font-size: 14px;
	border: 1px solid #E1E1E1;
	border-radius: 5px;
	box-sizing: border-box;
	background: #F8F8F8;
    resize: none;
}
.edit-comment .shade {
    text-align: center;
    line-height: 3em;
}
.edit-comment .submit { display: none; }
.edit-comment .submit a {
	color: #969696;
	padding: 8px 20px;
}
.edit-comment .submit .btn {
	margin-left: 10px;
	color: #fff;
}

/* 评论列表 */
.comment-list {
	margin: 30px 0; 
}
.comment-list .bar {
	color: #333;
	line-height: 50px;
	border-bottom: 1px solid #e1e1e1;
}
.bar h3 { font-weight: bold; }

.comment-list ul { padding: 0; }

.comment-list ul li {
    list-style: none;
	padding: 20px 0;
	font-size: 14px;
	border-bottom: 1px solid #e1e1e1;
}
.comment-list ul li .user img{
	float: left;
	width: 40px;
	margin-right: 10px;
	border-radius: 100%;
}
.comment-list ul li .user p {
    margin: 0;
	line-height: 20px;
	font-size: 14px;
	color: #333;
}
.comment-list ul li .user .time {
	color: #969696;
	font-size: 12px;
}
.comment-list ul li .comm {
	padding: 15px 0;
}
.comment-list ul li .reply { color: #969696; }
.comment-list ul li .reply i {
	display: inline-block;
    margin: 0 5px;
	cursor: pointer;
}
.comment-list ul li .reply i:hover { color: #333; }