/* 单独重置样式 */
body {
    margin: 0;
    padding-top: 70px; 
}
li { margin: 10px 0; }
i { font-style: normal; }

.header li { margin: 0; }

/* 文章 */
.article {
	margin: 20px auto;
}
.article h1 {
	margin: 20px 0;
	font-size: 32px;
	font-weight: bold;
	line-height: 50px;
	color: #333;
}

/* 文章信息 */
.article .author {
	margin: 20px 0;
	font-size: 14px;
}
.img-small {
	float: left;
	width: 50px;
	border-radius: 100%;
	margin-right: 10px;
}
.article .author p {
    margin: 0;
    line-height: 25px; 
}
.article .author .name:before {
	content: '作者';
	display: inline-block;
	margin: 0 5px;
	font-size: 12px;
	padding: 2px;
	line-height: 1em;
	color: #EA6F5A;
	border: 1px solid #EA6F5A;
	border-radius: 2px;
}
.article .author .info {
	font-size: 12px;
	color: #969696;
}

/* 文章内容 */
.content p { line-height: 1.5em; }

/* 文章尾部作者资料卡 */
.show {
	margin: 30px 0;
	padding: 15px;
	border: 1px solid #E1E1E1;
	border-radius: 5px;
	background: #F8F8F8;
}
.show .sign {
	padding-top: 10px;
	font-size: 12px;
	color: #969696;
	border-top: 1px solid #e1e1e1;
}

/* 喜欢 */
.like {
	margin: 20px 0;
	padding-top: 20px;
	text-align: left;
	border-top: 1px solid #e1e1e1;
}
.like-btn {
	display: inline-block;
	line-height: 40px;
	padding: 0 30px;
	color: #EA6F5A;
	font-size: 16px;
	border: 1px solid #EA6F5A;
	border-radius: 40px;
}
.liked-btn {
    color: #fff;
    background: #EA6F5A
}

/* 评论框 */
.edit-comment {
	position: relative;
	margin: 50px 0 30px;
	padding-left: 50px;
}
.edit-comment > img {
	position: absolute;
	left: 0;
	width: 40px;
	border-radius: 40px;
}

/* 评论编辑框 */
.comment-box textarea, .comment-box .shade{
	width: 100%;
	padding: 10px;
	font-size: 14px;
	border: 1px solid #E1E1E1;
	border-radius: 5px;
	box-sizing: border-box;
	background: #F8F8F8;
    resize: none;
}
.comment-box .shade {
    text-align: center;
    line-height: 3em;
    margin-bottom: 10px;
}
.comment-box .submit {
    display: none;
    position: relative;
}
.comment-box .submit a {
    float: right;
	color: #969696;
	padding: 8px 20px;
}
.comment-box .submit .btn {
	margin-left: 10px;
	color: #fff;
}
.comment-box .submit .face-box {
    display: none;
    position: absolute;
    left: 0; top: 100%;
    width: 240px;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 0 0 8px rgba(0,0,0,.5);
    background: #fff;
}
.comment-box .submit .face-list {   
    padding: 0;
    margin: 0;
    list-style: none;
    overflow: hidden;
}
.face-list li { 
    float: left;
    width: 30px;
    height: 30px;
    margin: 0;
    line-height: 30px;
    font-size: 0;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
}
.face-list li img { vertical-align: middle; }
.face-list li:hover { background: #e0e0e0; }

/* 评论列表 */
.comment-list {
	margin: 30px 0; 
}
.comment-list .bar {
	color: #333;
	line-height: 50px;
	border-bottom: 1px solid #e1e1e1;
}
.bar h3 { font-weight: bold; }

.comment-list .comments { padding: 0; }

.comments > li {
    list-style: none;
	padding: 20px 0;
	font-size: 14px;
	border-bottom: 1px solid #e1e1e1;
}
.comments > li .user img{
	float: left;
	width: 40px;
	margin-right: 10px;
	border-radius: 100%;
}
.comments > li .user p {
    margin: 0;
	line-height: 20px;
	font-size: 14px;
	color: #333;
}
.comments > li .user .time {
	color: #969696;
	font-size: 12px;
}
.comments > li .comm {
	padding: 15px 0;
}
.comments > li .reply { color: #969696; }
.comments > li .reply i {
	display: inline-block;
    margin: 0 5px;
	cursor: pointer;
}
.comments > li .reply i:hover { color: #333; }


/* 评论回复 */
.comment-list .sub-comment {
    margin-top: 20px;
    padding-left: 20px;
    border-left: 2px solid #D9D9D9;
}
.sub-comment > ul {
    padding: 0;
    list-style: none;
}
.sub-comment > ul li {
    padding: 15px 0;
    line-height: 1.5em;
    font-size: 14px;
    border-bottom: 1px dashed #F0F0F0;
}
.sub-comment > ul li a { color: #4A9ADA; }
.sub-comment > ul li a:after {
    content: '：';
    color: #333;
    margin: 0 5px;
}
.sub-comment > ul li .time {
    color: #969696;
    font-size: 12px;
}