/* 单独重置样式 */
body { 
    padding: 70px 0 80px;
    background: #F6F5F5;
}
ul, h1, h2, h3, h4, h5, h6, p{
	margin: 0;
	padding: 0;
}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal; 
    font-size: 100%;
}
ol, ul {
	list-style: none;
}
address, caption, cite, code, i, em, b, strong {
    font-weight: normal;
    font-style: normal;
}

.bg-full {
    margin: 0 -15px;
	height: 415px;
	background: url(/images/bg.jpg);
    background-position: center;
	background-size: cover;
}
.bg-full a {
    display: block;
    height: 100%;
    padding-top: 150px;
    font-size: 18px;
    text-align: center;
    color: #fff;
    box-sizing: border-box;
    background: rgba(0, 0, 0, .4);
}
.bg-full a p { margin: 10px 0; }
.bg-full a h2 { font-size: 48px; }

/* 文章列表 */
.list { margin: 10px -15px; }
.list li{ padding: 10px 20px; }
.list li .item {
	background: #fff;
	overflow: hidden;
}
.list li .item:hover { box-shadow: 0 0 15px rgba(0,0,0,.3); }
.item .pic { overflow: hidden; }
.item img {
	display: block;
    min-width: 100%;
    height: 160px;
	transition: all .5s;
}
.item img:hover { transform: scale(1.2); }
.item .content > h3 {
	padding: 0 10px;
	line-height: 30px;
	font-size: 18px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.item .content > p {
	padding: 5px 10px;
	line-height: 1.5em;
	font-size: 14px;
	color: #666;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.item .time {
	padding: 0 10px;
	line-height: 40px;
	font-size: 12px;
	color: #77778D;
	/*border: 1px dashed #C2C2C2;*/
}
.item .time i { margin: 0 3px; }

/* 查看更多按钮 */
.more .btn{
    width: 100%;
    padding: 10px 0;
    text-align: center;
    color: #7C7B7B;
    font-size: 18px;
    border: 1px solid #C5C4C4;
}

/* 文章列表图片响应式的处理 */
@media screen and (max-width: 1000px) {
	.item img { height: 240px; }
}