body {
    margin: 0;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a { color: #00B7FF; }

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

input, button {
    border: none;
    outline: none;
}

/*首页首屏大图*/
.wrap {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: url(/images/bg.jpg);
    background-size: cover;
}

/*登录注册框*/
.user {
    position: absolute;
    top: 50%; left: 50%;
    width: 400px;
    transform: translate(-50%, -50%);
}
.user .tab {
    height: 50px;
    overflow: hidden;
}
.user .tab li{
    float: left;
    width: 50%;
    line-height: 50px;
    text-align: center;
    font-size: 18px;
    color: #ccc;
    cursor: pointer;
    background: rgba(0, 0, 0, .6);
}
.user .tab li:hover { color: #fff; }
.user .tab li.active {
    color: #333;
    background: #fff; 
}
.user > div {
    display: none;
    padding: 20px;
    background: #fff;
}
.user > div.active { display: block; }
.user input {
    display: block;
    width: 100%;
    margin: 10px 0;
    line-height: 30px;
    font-size: 16px;
    padding: 5px 10px;
    border: 1px solid #b0b0b0;
    box-sizing: border-box;
}
.user button {
    display: block;
    width: 100%;
    margin: 10px auto;
    line-height: 36px;
    font-size: 16px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    background: #2D8FB6;
}
