/* 单独重置样式 */
body {
	padding-top: 70px;
    background: #f9f9f9;
}
h1, h2, h3, h4, h5, h6, p, input,ul,li {
	margin: 0;
	padding: 0;
}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal; 
    font-size: 100%;
}
ol, ul {
	list-style: none;
}
address, caption, cite, code, i, em, b, strong {
    font-weight: normal;
    font-style: normal;
}
/* 用户个人信息 */
.user-box {
	margin-top: 20px;
	border-bottom: 1px dotted #ccc;
    background: rgba(255, 255, 255, .6);
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}
.main {
    position: relative;
    padding: 10px 50px;
    height: 100px;
}
.main .avatar {
    float: left;
	width: 100px;
	height: 100px;
    border: 1px solid #e0e0e0;
    margin-right: 10px;
    border-radius: 100px;
}
.main .name {
	font-size: 24px;
    color: #666;
    padding: 20px 0;
}
.main p { 
    font-size: 14px;
    color: #999;
}
.user-box .setting {
    position: absolute;
    top: 10px; right: 50px;
    text-align: center;
    margin: 10px 0;
}
.user-box .setting a{
	display: inline-block;
	padding: 5px 8px;
	margin: 0 5px;
	font-size: 14px;
	line-height: 1em;
    color: #EA6F5A;
	border: 1px solid #EA6F5A;
	border-radius: 2px;
}
.user-box .setting a:hover {
    color: #fff;
    background: #EA6F5A;
}
.user-box .menu li{
    float: left;
    line-height: 40px;
    margin: 0 5px;
}
.user-box .menu li a{
    padding: 5px 10px;
    color: #646464;
}
.user-box .menu li a:hover, .user-box .menu li.active a {
    color: #EA6F5A;
    border-bottom: 2px solid #EA6F5A;
}

/* 文章列表 */
.article-list li {
    position: relative;
    margin: 10px 0;
	padding: 10px;
    height: 200px;
    color: #666;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}
.article-list li .title{
	font-size: 20px;
	text-align: left;
    line-height: 40px;
    color: #333;
}
.article-list li .abstract{
    height: 9em;
    color: #999;
	font-size: 14px;
	line-height: 1.5em;
    overflow: hidden;
}
.article-list li .time {
    position: absolute;
    bottom: 10px;
	font-size: 14px;
	line-height: 20px;
}
.article-list .cover {
    position: absolute;
    top: 10px; right: 10px;
}
.article-list .cover img {
	width: 200px;
    height: 160px;
}
.article-list .time i { margin: 0 5px; }

/* 喜欢文章列表 */
.like-art { display: none; }

/* 底部 */
.footer {
	margin-top: 40px;
	padding: 20px;
	text-align: center;
	color: #A7AEAF;
	border: none;
	background: transparent;
}